<% include ./header %>
<section class="feature_area section_gap_top">
        <div class="container">
                <div class="row justify-content-center">
                        <div class="col-lg-5">
                                <div class="main_title">
                                        <h2 class="mb-3">Awesome Feature</h2>
                                        <p>

                                        </p>
                                </div>
                        </div>
                </div>
                <div class="row">
                        <div class="col-lg-4 col-md-6">
                                <div class="single_feature">
                                        <div class="icon"><span class="flaticon-diagram"></span></div>
                                        <div class="desc">
                                                <h4 class="mt-3 mb-2">Concentrations</h4>
                                                <p>
                                                        Offers concentrations with an emphasis on scientific, applied,
                                                        and business.
                                                </p>
                                        </div>
                                </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                                <div class="single_feature">
                                        <div class="icon"><span class="flaticon-diploma"></span></div>
                                        <div class="desc">
                                                <h4 class="mt-3 mb-2">Masters Degree</h4>
                                                <p>
                                                        Offers a Masters Degree in Integrated Science and Technology
                                                        with computer science and information technology concentrations.
                                                </p>
                                        </div>
                                </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                                <div class="single_feature">
                                        <div class="icon"><span class="flaticon-research"></span></div>
                                        <div class="desc">
                                                <h4 class="mt-3 mb-2">Research</h4>
                                                <p>
                                                        Provides opportunities to connect with faculty for undergraduate
                                                        research
                                                </p>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</section>
 <% include ./footer.ejs%>
