<% include header.ejs %>

<!-- <div class="home_banner_area">
  <h1>Welcome To Southeastern Computer Science</h1>
  <p class="sub">Computer Science - <span class="typed"></span></p>
  <div class="video-container">
    <div class="color-overlay">
      <div class="banner_content text-center">
        <h2 class="text-uppercase mt-4 mb-5">
          One Step Ahead This Season
        </h2>
      </div>
    </div>
  </div>
</div> -->

<div id="slides">
    <div class="overlay"></div>
    <div class="wallpaper-container"></div>
    <div class="inner-content">
        <div class="titleMessage">
            <div class="heading">
                <h1>Welcome To Southeastern Computer Science</h1>
                <p class="sub">Computer Science - <span class="typed"></span></p>
            </div>
        </div>
    </div>
</div>
